<h1>List of Video Games</h1>
<!-- Loop products -->
{{#each products}}
    <p>
       <b>{{this.name}}</b><br>
        {{this.genre}}<br>
        {{this.type}}<br>
        {{this.reviews}}<br>
        {{this.price}}<br>
    </p>
        
{{/each}}